@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.skillspage{
    min-height: 100vh;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.skillsgreet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 50px;

    p{
    font-size: 20px;
    color: cornflowerblue;
    text-align: start;
    }

    h1{
    font-size: 68px;
    color: whitesmoke;
    }
}

.descskills{
    max-width: 500px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25 0 25 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.skillscontent{
    margin-top: 300px;
}